html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  place-items: center;
  display: grid;
  background-image: url(fondo.avif);
  background-size: cover;
}

.div1 {
  padding: 50px;
  border-radius: 3px;
  background-color: cornflowerblue;
}

.div2 {
  border-radius: 3px;
  background-color: cornflowerblue;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #FFF;
}

